*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style-type: none;
}

a{
    color: white;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    z-index: 2;
}

.link-area{
    margin-top: 100px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-link{
    transition: 0.7s ease;
    color: #fff;
    margin: 0px auto;
    text-align: center;
}

.nav-link:hover{
    color: #ff1737;

}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 30px;
    height: 1.5px;
    border: 2px solid #fff;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-weight: bolder;
    background-color: #fff;
}
.bar:hover{
    transform: scale(1.2);
    color: #ff1737;
    cursor: pointer;
}

@media screen and (min-width: 990px){
    .navbar{
        display: none;
    }
}



@media screen and (max-width: 990px){
    .hamburger{
        display: block;
        z-index: 2;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(5px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    
    }.hamburger.active .bar:nth-child(4){
        opacity: 0;
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 0px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(0,0,0,0.5);
        width: 30%;
        height: 100vh;
        margin: 0px auto;
        transition: 0.3s;
        z-index: 1;

    }

    .nav-item{
        margin: 20px 0;
    }

    .nav-menu.active{
        left: 0; 
    }
}