

.wrapper{
    display: none;
}
.content{
    display: flex;
    align-content: center;
    flex-direction: column;


}
.content h2{
    font-size: 2.7rem;
    font-weight: bold;
    width: 100%;
    margin: 30vh 0 0 0;
}


.content h2:hover{
    color: rgb(255,23,55);
    transition: 0.3s ease;
    cursor: none;

}

.name, h2{
    text-align: center;
    font-size: 2rem;
    color: #fff;

}

.intro{
    display: flex;
    justify-content: center;

}

.intro h1{
    color: rgba(255,255,255,0.6);
    font-size: 1.5rem;
    margin-right: 10px;
    font-weight: 400;
}



.social-icons{
    transition: 0.3s ease;
    color: white;
    border-radius: 50px;
    margin: 0 0.8rem;
    font-size: 2em;
    padding: 2px;
}
.social-icons:hover {
    background-color: rgb(0,0,0,0.3);
    transform: scale(1.2);
    color: #ff1737;
    cursor: pointer;

}




/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .wrapper{
        display: none;
    }
    .name, h2{
        text-align: center;
        font-size: 2rem;
        color: #fff;

    }

    .intro{
        justify-content: center;
    }

    .content h2{
        margin: 50vh 0 0 0;
    }


    
    }

    /* Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) {
        .wrapper{
            display: none;
        }
        .name, h2{
            text-align: center;
            font-size: 2rem;
            color: #fff;

        }
        .intro{
            justify-content: center;
        }
    }
    
    /*Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) {
        .wrapper{
            display: block;
        }
        .drawercomp{
            display: none;
        }
        ::-webkit-scrollbar{
            width: 0.8em;
            display: none;



        }

        .intro{
            justify-content: left;
        }


        .name, h2{
            display: block;
            text-align: left;
            font-size: 2rem;
            color: #fff;

        }

        .header-container{
            display: none;

        }
        .content h2{
            margin: 30vh 0 0 0;
        }

        .content .social-link-box{

            position: absolute;
            top: 30vh;
            right: 20vw;
            font-size: 1.7em;
            margin: 0;


        }

        .social-icons{
            display: block;
            transition: 0.3s ease;
            color: white;
            border-radius: 50px;
            margin: 1rem 0;

            padding: 2px;
        }
     }
    
    /* X-Large devices (large desktops, 1200px and up)*/
    @media (min-width: 1200px) {

    }
    
    /* XX-Large devices (larger desktops, 1400px and up)*/
    @media (min-width: 1400px) { }
