*{
  font-family: 'Consolas', serif;
}

.container{
  padding-right: var(--bs-gutter-x,0rem);
  padding-left: var(--bs-gutter-x,0rem);
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media (min-width: 992px) {
  .container{
    padding-right: var(--bs-gutter-x,6rem);
    padding-left: var(--bs-gutter-x,6rem);
  }



}